* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxtab {
    width: 600px;
    margin: 20px auto;
}
table {
    background-color: #123d5a;
    width: 100%;
    font-family: 'Segoe UI Light';
    border-collapse: collapse;
    height: 20px;
}
th, td {
    padding: 20px;
    text-align: center;
}
thead {
    background-color: #123d5a;
    border-bottom: solid 5px #1d688d;
    color: #e9e9e9;
    padding: 0;
}
tbody tr {
    background-color: #123d5a;
    color: #e9e9e9;
}
.initcell {
    position: static;
    z-index: 0;
    justify-content: center;
    display: flex;
}
.delbutbox {
    background-color: #29a0c6;
    margin: 0 5px;
    color: #123d5a;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    top: 1px;
}
.delbutbox:hover {
    background-color: #092130;
    color: #29a0c6;
    transition: 0.5s;
}
@media screen and (max-width: 1070px) {
    .boxtab {
        max-width: 410px;
        margin: 10px auto;
        display: flex;
        font-size: 14px;
    }
    th, td {
        padding: 7px 7px;
    }
    .initcell {
        display: block;
        width: max-content;
        height: max-content;
    }
    .delbutbox {
       margin-top: 2px;
       padding: 4px 2px;
       display: block;
       text-align: center;
    }
}
@media screen and (max-width: 1070px) {
    .boxtab {
        max-width: 410px;
        margin: 10px auto;
        display: flex;
        font-size: 14px;
    }
    th, td {
        padding: 7px 7px;
    }
    .initcell {
        display: block;
        width: max-content;
        height: max-content;
    }
    .delbutbox {
       margin-top: 2px;
       padding: 5px 10px;
       display: block;
       text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .boxtab {
        max-width: 350px;
    }
}